* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color:#6ca8fc;
}
/* Corpo Pagina */
header {
    text-align: center;
}
h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
label {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
input, 
button,
#page,
.box {
    box-shadow: 2px 2px 5px #000;
}
input {
    display: block;
    width: 250px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid black;
    margin: auto;
    padding-left: 35px;
    margin-bottom: 20px;
}
button {
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: bold;
    margin: 10px;
}
button:last-child {
    color: red;
}
.show {
    display: block !important;
}
/* Contenitore Generato Automaticamente  */
#page {
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    border: 2px solid black;
    background: linear-gradient(70deg, #60053a, #a9309e, #3715ff, #fb612b);
    background-size: 240% 240%;
    animation: gradient-animation 5s ease infinite;
    display: none;
    border-radius: 15px;
}
.box {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    background-color: #00ff518d;
    color: #000;
    display: inline-block;
    padding: 10px;
    margin: 20px 10px 0 ;
    vertical-align: middle;
    text-align: center;
    line-height: 84px;
    font-size: 16px;
    border-radius: 15px;
    font-weight: bold;
}
/* Tipi di Multipli */
.fizz {
    background-color: #00000091;
    color: #fff;
}
.buzz {
    background-color: #0000ffc1;
    color: #fff;
}
.fizzbuzz {
    background-color: #ff0000c1;
}
/* Animazione Background Container celle*/
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}